
.food-head{
  font-style: oblique;
  color: whitesmoke;

}
.footer {
  background-color:#2F363F!important;
  color: white;
  font-family: 'Allura', cursive;
}
.footer h1{
  font-family: 'Sintony', sans-serif;
   color: gold;
   font-size: 30px;

}
.nav-div{
  background-color: #FF4848;
  font-family: 'Leckerli One', cursive;
  }


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
